MAINUSER_PASS="a"
MAINUSER_MAIL="a@a.org"
MAINUSER_NAME="a"
SECONDUSER_PASS="b"
SECONDUSER_MAIL="b@b.org"
SECONDUSER_NAME="b"
THIRDUSER_PASS="c"
THIRDUSER_MAIL="c@c.org"
THIRDUSER_NAME="c"
FOURTHUSER_PASS="d"
FOURTHUSER_MAIL="d@d.org"
FOURTHUSER_NAME="d"
LINK="http://localhost:4000"
TEST_PASS="SecretPassword123123!"
